---
import MainLayout from '../layouts/Main.astro';
import HeaderComponent from '../components/Header.vue';
import SearchResults from '../components/SearchResults.vue';
---

<MainLayout title='4GAMINGSHOP'>
  <header class='mb-8'>
    <HeaderComponent client:visible />
  </header>
  <main>
    <SearchResults client:only='vue' />
  </main>
</MainLayout>

<style></style>
