---
import MainLayout from '../layouts/Main.astro';
import InputComponent from '../components/Input.vue';
import HeaderComponent from '../components/Header.vue';
import FloatMenu from '../components/FloatMenu.vue';
---

<MainLayout title='Welcome to Astro.'>
  <header class='mb-8'>
    <HeaderComponent client:visible />
  </header>
  <main>
    <InputComponent client:only='vue' />
    <FloatMenu client:only='vue' />
  </main>
</MainLayout>

<style></style>
